@import "tailwindcss";

@theme {
  --color-deep-black-green: #051f20;
  --color-dark-green: #0b2b26;
  --color-forest-green: #163832;
  --color-moss-green: #235347;
  --color-sage-green: #8eb69b;
  --color-mint-white: #daf1de;
}

:root {
  font: 18px/1.45 'Trebuchet MS', Verdana, sans-serif;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { margin: 0; min-width: 320px; }
#root { min-height: 100vh; }
